<div class="ui center aligned container margin-top-25">
  <div class="v-centered">
    <%= render "shared/title" %>
  </div>
  <div class="v-centered">
    <%= render "shared/form" %>
  </div>
</div>
