<div class="ui center aligned container margin-top-25">
  <div class="v-centered">
    <%= render "shared/title" %>
  </div>
  <div class="v-centered margin-top-10">
    <%= render "shared/shortlink", url: @url %>
  </div>
  <p><%= link_to("Back to home", "/") %></p>
</div>
